# Dependencies for a pre-production state

# Django and friends
django>=3.2,<4.0
django-environ>=0.8.1
django-extensions>=3.1.5

# Authentication
django-allauth>=0.51.0

# APIs
djangorestframework>=3.13.1
django-filter>=22.1

# Testing
pytest-django>=4.4.0
coverage>=6.4.2
mock>=4.0.3

