{% extends "frontend/base.html" %}
{% block title %}Nueva contraseña{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6">    
      <h2 class="text-center mb-1">Establecer nueva contraseña</h2>
        <p class="text-center mb-3">🔑 Introduce tu nueva contraseña 🔑</p>
      {% if validlink %}
          <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            
            <!-- New Password field -->
            <div class="mb-3 form-floating">
              <input
                type="password"
                class="form-control{% if form.new_password1.errors %} is-invalid{% endif %}"
                id="id_new_password1"
                name="new_password1"
                placeholder="Nueva contraseña"
                autocomplete="new-password"
                autocapitalize="off"
                autocorrect="off"
                spellcheck="false"
                minlength="8"
                required
              >
              <label for="id_new_password1">Nueva contraseña*</label>
              {% if form.new_password1.errors %}
                <div class="invalid-feedback">
                  {{ form.new_password1.errors.0 }}
                </div>
              {% else %}
                <div class="form-text">
                  La contraseña debe tener al menos 8 caracteres.
                </div>
              {% endif %}
            </div>

            <!-- Confirm New Password field -->
            <div class="mb-3 form-floating">
              <input
                type="password"
                class="form-control{% if form.new_password2.errors %} is-invalid{% endif %}"
                id="id_new_password2"
                name="new_password2"
                placeholder="Confirmar contraseña"
                autocomplete="new-password"
                autocapitalize="off"
                autocorrect="off"
                spellcheck="false"
                required
              >
              <label for="id_new_password2">Confirmar contraseña*</label>
              {% if form.new_password2.errors %}
                <div class="invalid-feedback">
                  {{ form.new_password2.errors.0 }}
                </div>
              {% else %}
                <div class="invalid-feedback">
                  Las contraseñas no coinciden.
                </div>
              {% endif %}
            </div>

            <!-- Submit button -->
            <div class="d-grid">
              <button type="submit" class="btn btn-success w-100">Guardar nueva contraseña</button>
            </div>
          </form>
        {% else %}
          <div class="alert alert-danger">El enlace no es válido o ha caducado.</div>
          <a class="btn btn-success w-100" href="{% url 'password_reset' %}">Solicitar otro enlace</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
