<!-- frontend/templates/frontend/_user_form.html -->
<!-- reusable user form included in register.html and user.html -->
<!-- passed context variables: form_action, is_registration, players, submit_label -->
{% load static %}

<form method="POST" 
  id="user-form"
  action="{{ form_action }}" 
  autocomplete="off" 
  class="needs-validation" 
  novalidate>
  {% csrf_token %}

  <!-- Username field -->
  <div class="mb-3 form-floating">
    <input
    type="text"
    class="form-control"
    id="username"
    name="username"
    autocomplete="off"
    placeholder="Tu nombre de usuario"
    pattern="^[a-zA-Z0-9@.+-_]{3,15}$"
    maxlength="15"
    minlength="3"
    value="{{ user.username|default:'' }}"
    {% if is_registration %}required{%else%}readonly disabled{% endif %}
    required
    />
    <label for="username" class="form-label">Usuario*</label>
    <div class="invalid-feedback">
      Nombre de usuario de 3 a 15 caracteres. Solo letras, números y @/./+/-/_.
    </div>
  </div>

  <!-- Email field -->
  <div class="mb-3 form-floating">
    <input
    type="email"
    class="form-control"
    id="email"
    name="email"
    placeholder="Introduce tu email"
    value="{{ user.email|default:'' }}"    
    required
    />
    <label for="email" class="form-label">Email*</label>
    <div class="invalid-feedback">Por favor introduce un email válido.</div>
  </div>

  <!-- Registration only-->
  {% if is_registration %}
    <!-- Password field -->
    <div class="mb-3 form-floating">
      <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      autocomplete="new-password"
      placeholder="Contraseña"
      minlength="8"    
      required
      />
      <label for="password" class="form-label">Contraseña*</label>
      <div class="invalid-feedback">
        La contraseña debe tener al menos 8 caracteres.
      </div>
    </div>

    <!-- Confirm Password field -->
    <div class="mb-3 form-floating">
      <input
      type="password"
      class="form-control"
      id="confirm_password"
      name="confirm_password"
      placeholder="Confirma tu contraseña"          
      required
      />
      <label for="confirm_password" class="form-label"
        >Confirma tu contraseña*</label
      >
      <div class="invalid-feedback">
        Las contraseñas no coinciden.
      </div>
    </div>  

    <!-- Link a Player Dropdown  -->  
    <div class="mb-3 form-floating">
      <select class="form-select"
        id="player_id"
        name="player_id">
        <option value="">No, soy un nuevo jugador</option>
        {% for player_id, player_name in players %}
        <option value="{{ player_id }}">{{ player_name }}</option>
        {% endfor %}
      </select>
      <label for="player_id">
        Te han anotado resultados? Qué jugador eres?
      </label>
    </div>  
    
    <!-- Registration Submit Button -->  
    <button 
      type="submit" class="btn btn-primary w-100">Registrarse</button>    

  <!-- User profile only-->
  {% else %}
    <!-- User fields for wins, matches and rate non editable and in the same row-->
    <div class="row g-3">
      <div class="col-sm-4">
        <div class="form-floating">
          <input type="text" class="form-control" id="wins" name="wins" value="{{ wins }}" readonly disabled />
          <label for="wins">Victorias</label>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-floating">
          <input type="text" class="form-control" id="matches" name="matches" value="{{ matches }}" readonly disabled />
          <label for="matches">Partidos</label>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-floating">
          <input type="text" class="form-control" id="rate" name="rate" value="{{ win_rate|floatformat:0 }}" readonly disabled />
          <label for="rate">Efectividad (%)</label>
        </div>
      </div>
    </div>
    
    <!-- User profile cancel and save buttons -->  
    
    <div class="d-flex justify-content-between mt-4">
      <button type="button" id="cancel-btn" class="btn btn-secondary w-50  me-2" disabled>Cancelar</button>
      <button type="submit" id="save-btn" class="btn btn-success w-50" disabled>Guardar</button>
    </div>
  
  {% endif %}

</form>


