<!-- frontend/templates/frontend/hall_of_fame.html -->
{% extends 'frontend/base.html' %} {% block title %}rankingdepadel.club{% endblock %}
{% load static %}

{% block content %}
<div class="text-center mb-4">
  <h1 class="display-5">🏆club moraleja🏆</h1>
  {% if user.is_authenticated %}
    {% if new_matches_number > 0 %}
      <p class="lead">Tienes {{ new_matches_number }} <a href="{% url 'match' %}#match-history">nuevos partidos</a>!</p>
    {% else %}
      <p class="lead">Tienes <a href="{% url 'match' %}">nuevos partidos</a> ?</p>
    {% endif %}
  {% else %}
    <p class="lead">
      <a href="{% url 'login' %}">Inicia sesión</a> o
      <a href="{% url 'register' %}">regístrate</a> !
    </p>
  {% endif %}
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <colgroup>
      <col style="width: 15%;">
      <col style="width: 35%;">
      <col style="width: 15%;">
      <col style="width: 15%;">
      <col style="width: 20%;">
    </colgroup>
    <thead>
      <tr>
        <th scope="col" class="text-center">Pos.</th>
        <th scope="col">Jugador</th>
        <th scope="col" class="text-center">🏆</th>
        <th scope="col" class="text-center">🏓</th>
        <th scope="col" class="text-center">🎯</th>
      </tr>
    </thead>
    <tbody>
      {% for player in players %}
      {% with rank=player.ranking_position %}
      <tr class="{% if player.id == user_player.id %}highlight-zoom{% endif %}">
        <td>
          {% if rank == 1 %}
          <strong class="rank-1">🥇</strong>
          {% elif rank == 2 %}
          <strong class="rank-2">🥈</strong>
          {% elif rank == 3 %}
          <strong class="rank-3">🥉</strong>
          {% else %} {{ rank }} {% endif %}
        </td>
        <td>
          {% if rank == 1 %}
          <strong style="font-size: 1.5em">{{ player.name }}</strong>
          {% elif rank == 2 %}
          <strong style="font-size: 1.3em">{{ player.name }}</strong>
          {% elif rank == 3 %}
          <strong style="font-size: 1.2em">{{ player.name }}</strong>
          {% else %} {{ player.name }} {% endif %}
        </td>
        <td>{{ player.wins }}</td>
        <td>{{ player.matches_played }}</td>
        <td>{{ player.win_rate|floatformat:0 }}%</td>
      </tr>
      {% endwith %}
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- mini table to be included in "frontend/hall_of_fame.html" -->
<!-- only if user is user.is_authenticated and not on the current page and not the top 1 -->
{% if user.is_authenticated and not user_page == pagination.current_page and previous_player %}
  {% include "frontend/hof_user_snippet.html" with user_page=user_page user_player=user_player previous_player=previous_player following_player=following_player %}
{% endif %}

<!-- Pagination block -->
{% include "frontend/_pagination.html" with pagination=pagination %}

{% endblock %}
