<!-- absolute path: /workspaces/paddle/paddle/frontend/templates/frontend/hof_user_snippet.html -->
<!-- mini table to be included in "frontend/hall_of_fame.html" -->
<!-- only if user is not on the current page  -->

{% load static %}

<p class="text-muted small text-center">
  <b>{{ user_player.name }}</b>, tu ranking está en la <a href="?page={{ user_page }}" class="fw-bold">pág. {{ user_page }}</a>:
</p>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <colgroup>
      <col style="width: 15%;">
      <col style="width: 35%;">
      <col style="width: 15%;">
      <col style="width: 15%;">
      <col style="width: 20%;">
    </colgroup>
    <thead>
      <tr>
        <th scope="col" class="text-center">Pos.</th>
        <th scope="col">Jugador</th>
        <th scope="col" class="text-center">🏆</th>
        <th scope="col" class="text-center">🏓</th>
        <th scope="col" class="text-center">🎯</th>
      </tr>
    </thead> 
    <tbody>      
      
      <!-- previous player row-->
      <tr>
        <td>{{ previous_player.display_position }}</td>
        <td>{{ previous_player.name }}</td>
        <td>{{ previous_player.display_wins }}</td>
        <td>{{ previous_player.display_matches }}</td>
        <td>{{ previous_player.display_win_rate|floatformat:0 }}</td>
      </tr>
      
      <!-- user player row -->
      <tr class="highlight-zoom">
        <td>{{ user_player.display_position }}</td>
        <td>{{ user_player.name }}</td>
        <td>{{ user_player.display_wins }}</td>
        <td>{{ user_player.display_matches }}</td>
        <td>{{ user_player.display_win_rate|floatformat:0 }}</td>
      </tr>

      <!-- following player row -->
      <tr>
        <td>{{ following_player.display_position }}</td>
        <td>{{ following_player.name }}</td>
        <td>{{ following_player.display_wins }}</td>
        <td>{{ following_player.display_matches }}</td>
        <td>{{ following_player.display_win_rate|floatformat:0 }}</td>
      </tr>

    </tbody>
  </table>
</div>

