<!-- absolute path: /workspaces/paddle/paddle/frontend/templates/frontend/register.html -->

{% extends 'frontend/base.html' %}
{% load static %}

{% block title %}Registro{% endblock %} 

{%block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-4">Crea una Cuenta</h2>

      <!-- Include the reusable user form -->     
      {% include "frontend/_user_form.html" with form_action=request.path form=form is_registration=True submit_label="Register" %}

      <p class="text-center mt-3">
        ¿Ya tienes cuenta? <a href="{% url 'login' %}">Accede aquí</a>
      </p>

    </div>
  </div>
</div>
{% endblock %}

<!-- Block for additional scripts -->
{% block scripts %}
<!-- Include JavaScript to validate confirmation fields in registration -->
<script src="{% static 'frontend/js/passwordValidation.js' %}"></script>
{% endblock %}
